<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow">
    <title>Presupuestador Pinosur</title>
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--main.css-->
    <link type="text/css" rel="stylesheet" href="css/main.css" />

    <!--VueJS, no sacar del <head>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/vue-clipboard2-master/dist/vue-clipboard.min.js"></script>
</head>

<body>

    <div id="app" class="container">

        <div id="menu" class="row">

            <div class="class s12">
                <a @click="doCopy" class="waves-effect waves-light btn-large">
                    <i class="material-icons left">content_copy</i>
                    COPIAR
                </a>
            </div>

        </div>

        <div class="row">

            <div class="input-field col s12">
                <!-- ICONO para el input -->
                <i class="material-icons prefix">attach_money</i>
                <input v-model="precioIngresado" id="pantalla" placeholder="0.00" type="number"
                    class="validate flow-text">
                <label for="pantalla">PRECIO EFECTIVO</label>
            </div>

        </div>

        <div class="row">

            <table class="striped highlight col s12">
                <tbody id="tabla-cuotas">
                    <tr>
                        <td class="brown lighten-5">Precio en efectivo: $ {{ precioIngresado }}</td>
                    </tr>
                    <tr>
                        <td class="orange lighten-5">Precio débito: $ {{ precioDebito }}</td>
                    </tr>
                    <tr>
                        <td class="green darken-4 white-text">
                            <i class="tiny material-icons">arrow_downward</i>
                            <span>Precio en cuotas</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="light-green lighten-4">1 cuota de $ {{ precioLista }}</td>
                    </tr>
                    <tr>
                        <td class="light-green lighten-3">3 cuotas de $ {{ precioTresCuotas }} (total $
                            {{ precioLista }})</td>
                    </tr>
                    <tr>
                        <td class="light-green lighten-2">6 cuotas de $ {{ precioSeisCuotas }} (total $
                            {{ precioLista }})</td>
                    </tr>
                    <tr>
                        <td class="light-green lighten-1">12 cuotas de $ {{ precioDoceCuotas }} (total $
                            {{ precioLista }})</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- FOR para crear tabla de cuotas de 1 a 12 -->
        <!--             <table class="striped highlight col s12 ">
                <tbody id="tabla-cuotas ">
                    <p class="flow-text">Precio de lista: $ {{ precioLista }}</p>

            <tr v-for="n in 12 ">

            <td v-if="n!=1 ">{{ n }} cuotas de </td>
            <td v-else>{{ n }} cuota de </td>
            <td>$ {{ redondear(precioLista / n) }}</td>
            </tr>
            </tbody>
            </table> -->

    </div>


    <!--materialize js-->
    <script type="text/javascript " src="js/materialize.min.js "></script>

    <script>
        const app = new Vue({

            el: '#app', // elemento sobre el que se aplica vue
            data: {
                // input
                precioIngresado: '',
                // solo usado en v-for
                n: '1',
                // vacio, para copiar con doCopy(fx de vue-clipboard)
                clipboard: ''

            },

            computed: {

                precioDebito: function () {
                    return this.redondear(this.precioIngresado * 1.15);
                },
                precioLista: function () {
                    return this.redondear(this.precioIngresado * 1.25);
                },
                precioTresCuotas: function () {
                    return this.redondear(this.precioLista / 3);
                },
                precioSeisCuotas: function () {
                    return this.redondear(this.precioLista / 6);
                },
                precioDoceCuotas: function () {
                    return this.redondear(this.precioLista / 12);
                },

            },

            methods: { // se declaran las funciones que se atachan a los eventos que dispara la vista (ie, toggleAlgo()).

                redondear: function (num) {
                    // existen muchos problemas para redondear precios con decimales en JS, este es el mejor método
                    return (Math.round(num * Math.pow(10, 2)) / Math.pow(10, 2)).toFixed(2);
                },

                doCopy: function () {
                    this.clipboard = `Precio en efectivo: $${this.precioIngresado}
Precio débito: $${this.precioDebito}
Precio en cuotas:
1 cuota de $${this.precioLista }
3 cuotas de $${this.precioTresCuotas} (total $${this.precioLista})
6 cuotas de $${this.precioSeisCuotas} (total $${this.precioLista})
12 cuotas de $${this.precioDoceCuotas} (total $${this.precioLista})`,
                    this.$copyText(this.clipboard).then(function (e) {
                        console.log('Copiado: ' + JSON.stringify(e.text))
                    }, function (e) {
                        console.log('Error: no pudo copiarse. ' + JSON.stringify(e))
                    })
                }
            }

        })
    </script>

</body>

</html>